.menu-intro {
    max-width: 20rem;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  
  .drinks-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
    justify-content: center;
    justify-items: center;
    grid-gap: 1rem;
  
    margin: 4rem 0;

  }
  
    
    
  
  
  